:root {
  --accent-fg: #1897ff;
  --accent-bg: #f8fafb;
}

a[href] {
  display: inline-block;
  color: #1897ff;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

a[href]:focus,
a[href]:focus-within,
a[href]:hover {
  text-decoration: none;
}

abbr[title] {
  position: relative;
  cursor: help;
  font-size: 90%;
  font-variant: small-caps;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

body {
  margin: 0;
  background: #f8fafb;
  color: #333;
  font-family:
    "Literata",
    "Literata 12pt",
    Georgia,
    'Times New Roman',
    Times,
    serif;
  font-size: 21px;
  line-height: 1.6;
  transition: background 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body > header {
  background: transparent;
  transition: background 0.5s cubic-bezier(0.83, 0, 0.17, 1), color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body > header a[href] {
  transition: background 0.5s cubic-bezier(0.83, 0, 0.17, 1), color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body.has-accent > header,
body.list-accent > header {
  color: var(--accent-fg);
  transition: background 0.5s cubic-bezier(0.83, 0, 0.17, 1), color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body.has-accent > header a[href],
body.list-accent > header a[href] {
  color: var(--accent-fg);
  transition: color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body.has-accent > header *::selection {
  background: var(--accent-fg);
  color: var(--accent-bg);
}

body.has-accent .menu-bar-logo-petals,
body.list-accent .menu-bar-logo-petals {
  fill: var(--accent-fg);
  transition: fill 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body.has-accent .menu-bar-logo-ring,
body.list-accent .menu-bar-logo-ring {
  fill: var(--accent-bg);
  transition: fill 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body.has-accent .menu-bar-logo-centre,
body.list-accent .menu-bar-logo-centre {
  fill: var(--accent-fg);
  transition: fill 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

body.has-accent *::selection {
  background: var(--accent-bg);
  color: var(--accent-fg);
}

body.has-accent > header {
  background: var(--accent-bg);
}

figure > img {
  width: inherit;
  height: auto;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Suisse Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  line-height: 1;
}

h1 {
  font-size: 260%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 180%;
}

h4 {
  font-size: 160%;
}

h5 {
  font-size: 130%;
}

h6 {
  font-size: 100%;
}

body > main {
  padding-bottom: 60px;
}

body > main.article {
  overflow-x: hidden;
}

body > main > * {
  max-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

body > main > *:first-child {
  margin-top: 0;
}

body > main > h1,
body > main > h2,
body > main > h3,
body > main > h4,
body > main > h5,
body > main > h6 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

body > main figure {
  position: relative;
  width: 960px;
  margin-top: 40px;
  margin-bottom: 40px;
}

body > main figcaption {
  position: absolute;
  top: 100%;
  right: 0;
  max-width: 300px;
  margin-top: 40px;
  color: #1897ff;
}

body > main figcaption::before {
  position: absolute;
  left: -1em;
  content: '↑ ';
  font-family:
    "Suisse Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
}

body > main figure + p {
  position: relative;
  left: -160px;
  max-width: 640px;
}

body > main figure.full-width {
  width: 100vw;
  max-width: 100%;
  margin: 40px -20px;
}

body > main figure.full-width + p {
  position: static;
  max-width: 960px;
}

body > main figure.full-width img {
  border-radius: 0;
}

.abbr-expansion {
  font-size: 110%;
  font-variant: normal;
}

.article-meta {
  font-family:
    "Suisse Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
}

.article-tags {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
}

.article-tag {
  display: inline-block;
  margin-left: 10px;
}

.article-tag::before {
  margin-right: 2px;
  content: "#";
}

.article-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 260%;
}

.article-title + .article-meta {
  margin-top: 6px;
}

.gallery {
  max-width: 100%;
  padding: 0 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 0;
}

.gallery-row {
  display: flex;
  flex-wrap: nowrap;
}

.gallery-row figure {
  width: 100%;
  min-width: 0;
  padding: 10px;
  margin: 0;
}

.intro-text {
  font-family:
    "Suisse Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  font-size: 140%;
}

.list-view {
  position: relative;
  z-index: 10;
  max-width: 960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}

.list-view-entry {
  position: relative;
  z-index: 10;
  transition: z-index 0.5s cubic-bezier(0, 1, 1, 0);
}

.list-view-entry:hover,
.list-view-entry:focus-within {
  z-index: 100;
  transition: z-index 0.5s cubic-bezier(0, 1, 1, 0);
}

.list-view-card {
  display: inline-block;
  margin-bottom: 40px;
  color: var(--accent-fg);
  transition: color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card.has-thumbnail {
  transition: color 0.5s cubic-bezier(0.83, 0, 0.17, 1), text-shadow 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card.has-thumbnail a[href] {
  transition: color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card a[href] {
  color: var(--accent-fg);
  transition: color 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card-thumbnail {
  position: absolute;
  z-index: -1;
  top: -160px;
  right: -60px;
  bottom: -100px;
  left: -60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.5s cubic-bezier(0.83, 0, 0.17, 1), transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card-thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--accent-bg);
  content: '';
  mix-blend-mode: multiply;
  opacity: 0.8;
  transition: background 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card.has-thumbnail:hover,
.list-view-card.has-thumbnail:focus-within {
  text-shadow: 1px 1px 0 var(--accent-bg), -1px -1px 0 var(--accent-bg), -1px 1px 0 var(--accent-bg), 1px -1px 0 var(--accent-bg);
  transition: color 0.5s cubic-bezier(0.83, 0, 0.17, 1), text-shadow 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-card.has-thumbnail:hover .list-view-card-thumbnail,
.list-view-card.has-thumbnail:focus-within .list-view-card-thumbnail {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s cubic-bezier(0.83, 0, 0.17, 1), transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.list-view-entry:last-child .list-view-card-thumbnail {
  top: -220px;
  bottom: -40px;
}

.list-view-entry:first-child .list-view-card-thumbnail {
  top: -100px;
  bottom: -160px;
}

.menu-bar {
  display: flex;
  max-width: 960px;
  align-items: center;
  padding: 40px 20px;
  margin-right: auto;
  margin-left: auto;
  font-family:
    "Suisse Intl",
    "Helvetica Neue",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  font-size: 100%;
  text-transform: lowercase;
}

.menu-bar-element {
  margin-left: 6px;
}

.menu-bar-element:first-child {
  margin-left: 0;
}

.menu-bar-current {
  overflow: hidden;
  flex-shrink: 4;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-bar-logo {
  display: inline-flex;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  align-items: center;
}

.menu-bar-logo > svg {
  width: inherit;
}

.menu-bar-logo-petals {
  fill: #f35b04;
  transition: fill 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.menu-bar-logo-ring {
  fill: #f7b801;
  transition: fill 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.menu-bar-logo-centre {
  fill: #3d348b;
  transition: fill 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.menu-bar-logo:focus .menu-bar-logo-petals,
.menu-bar-logo:focus-within .menu-bar-logo-petals,
.menu-bar-logo:hover .menu-bar-logo-petals {
  fill: #f35b04;
}

.menu-bar-logo:focus .menu-bar-logo-ring,
.menu-bar-logo:focus-within .menu-bar-logo-ring,
.menu-bar-logo:hover .menu-bar-logo-ring {
  fill: #f7b801;
}

.menu-bar-logo:focus .menu-bar-logo-centre,
.menu-bar-logo:focus-within .menu-bar-logo-centre,
.menu-bar-logo:hover .menu-bar-logo-centre {
  fill: #3d348b;
}

.page-header {
  max-width: 960px;
  padding: 0 20px 40px 20px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
}

@media screen and (max-width: 1120px) {
  .list-view-card-thumbnail {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  body > main figure {
    width: 100vw;
    margin-right: -20px;
    margin-left: -20px;
  }

  body > main figure img {
    border-radius: 0;
  }

  body > main figcaption {
    position: static;
    max-width: 100%;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }

  body > main figcaption::before {
    position: static;
  }

  body > main figure + p {
    position: static;
    max-width: 100%;
  }

  .gallery {
    padding: 0;
  }

  .gallery-row {
    display: block;
  }

  .gallery-row figure {
    width: 100vw;
    padding: 0 0 20px 0;
  }

  .gallery-row figure img {
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #151515;
    color: #f8fafb;
  }
}
